<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Avalonia" version="0.6.1" targetFramework="net461" />
  <package id="Avalonia.Remote.Protocol" version="0.6.1" targetFramework="net461" />
  <package id="PropertyTools.Wpf" version="2.0.1" targetFramework="net461" />
  <package id="ReactiveProperty" version="5.3.0" targetFramework="net461" />
  <package id="Serilog" version="2.5.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Debug" version="1.0.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Trace" version="2.1.0" targetFramework="net461" />
  <package id="Sprache" version="2.1.0" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.1.0" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net461" />
</packages>